
/*
=================================================================
FORM - VISTA CREATE
=================================================================
*/

.menu-containers {
    text-align: center;
    background-color: #F3F3F3;
    width: 45rem;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.078);

}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.078);
    margin: 2rem auto;
    width: 40rem;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="time"],
.form input[type="password"],
.form select {
    width: 95% !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.form-part.active .select2{
    width: 95% !important;
    padding: 6px !important;
    margin-bottom: 15px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.form-part.active .select2-container--default .select2-selection--single {
    border: none !important;
    border: none !important;
    border-radius: 0% !important;
  }


.form button {
    background-color: #01A497;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form button[type="submit"] {
    background-color: #28A745;
}

.form-part {
    display: none;
}

.form-part.active {
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    margin-bottom: 2rem;
    background-color: #ddd;
    height: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}


.progress {
    background-color: #01A497;
    height: 100%;
    transition: width 0.3s ease;
}

.markers {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 4px;
}

.marker {
    width: 20px;
    height: 20px;
    border: 2px solid #adadad;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    transform: translateX(-50%);
    transition: left 0.3s ease, background-color 0.3s ease;
    left: 0;
}

.marker.filled {
    background-color: #01A497;
    border: 2px solid #01A497;
    color: white;
}
