/*
================================================================
BODY
================================================================

*/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.741), rgba(255, 255, 255, 0.741)), url("../imgs/logos/Ags.png");
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

/*
================================================================
HEADER
================================================================

*/

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 100px;
}

.user-info {
    display: flex;
    align-items: center;
}

.notifications img,
.user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

 /*
================================================================
PAGINACION
================================================================
*/

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    text-decoration: none;
    padding: 8px 16px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.pagination li a:hover,
.pagination li span:hover {
    background-color: #ddd;
}

.pagination li.active span {
    background-color: #01A497;
    color: #fff;
    border: 1px solid #01A497;
}

.pagination li.active span:hover {
    background-color: rgb(6, 139, 128);
    color: #fff;
    border: 1px solid #01A497;
}

.pagination li.disabled span,
.pagination li.disabled a {
    color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
}


/*
================================================================
ALERT
================================================================
/* Agrega estos estilos para las alertas */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 30%;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
