html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedortodo {
    
    width: 800px;
    height: 580px;
    text-align: center;
}


.container{
 width: 400px;
 height: 400px;
background-color: aquamarine;
 
  
}

.vansss{
    display: flex;
    width: 800px;
    height: 100px;
    justify-content:center;
    align-items: center;
    text-align: center;
   
}
.vansss2{
    margin: 0 90px;
    width: 600px;
    height: 300px;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.btn{
    display: block;
    width: auto;
    height: 60px;
    border-radius: 25px;
    outline: none;
    border: none;   
    font-size: 0.8rem;
    color: #fff!important;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    background: #00426e!important;
}
.btn:hover{
    background-position: right;
}
.btn2{
    justify-content:center;
    align-items: center;
    text-align: center;
    margin: 0 90px;
}
