.page-title {
    font-size: 28px;
    color: #343D7C;
    margin-top: 2rem;
}

.green-line {
    width: 17rem;
    height: 4px;
    background-color: #01A497;
    margin: -10px auto;
    border-radius: 1rem;
}

.edit-button, .delete-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.btn_ingreso_salida {
    margin: 4px;
    font-size: 15px;
    padding: 5px 9.8px;
    background-color: #35a7dc;
    color: #fff;
    border: none;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Flecha del tooltip */
.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/*
================================================================
MENU
================================================================

*/

.menu-container {
    text-align: center;
    background-color: #F3F3F3;
    width: 46rem;
    height: 2.5rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.078);

}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0.6rem 3.5rem;
}

.menu a {
    text-decoration: none;
    color: #858796;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.menu a:hover {
    color: #21AFA4;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21AFA4;
    height: 2px;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.menu a:hover::after {
    transform: scaleX(1);
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 2rem auto;
}

.button-container a {
    text-decoration: none;
}

.button-izquierda {
    color: #343D7C;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
}

.button-izquierda i {
    font-size: 1.2rem;
}

/* .button-izquierda.arrow-left {
    transition: all 1s ease-in;
    transform: rotate(360deg);
} */

.button-izquierda:hover.arrow-left {
    animation: leftAnim 0.6s infinite alternate;

}

@keyframes leftAnim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}
.button-derecha {
    --color: #28A745;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);

    padding: 2px 5px;
}

.button-derecha:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #28A745;
    height: 7rem;
    width: 30rem;
    border-radius: 50%;
}

.button-derecha:hover {
    color: #fff;
}

.button-derecha:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.button-derecha:hover:before {
    top: -30px;
    left: -30px;
}

.button-derecha:active:before {
    background: #296d39;
    transition: 0s;
}


/*
================================================================
Table
================================================================

*/

.table-container {
    width: 90%;
    margin: 3.5rem;
    margin-top: 2rem;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.049);
}

table {
    border-collapse: collapse !important;
    width: 100%;

}

th {
    background-color: #3B4480 !important;
    color: #FFF !important;
    text-align: center !important;
    padding: 0.2rem !important;
    position: relative !important;
    border: solid 1px #FFF !important;
    font-size: 12px !important;
}

th::after {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: -1px !important;
    width: 1px !important;
    background-color: #FFF !important;
}

/* Estilos para filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f26e !important;
    /* Color gris claro */
}

table td {
    border: solid 1px #333 !important;
    text-align: center !important;
    border: solid 1px rgba(255, 255, 255, 0) !important;
    padding: 10px !important;
    word-wrap: break-word !important;
    /* Agregar esta línea */
}

table tr:last-child td {
    border-bottom: none !important;
}

.table {
    width: 100% !important;
    margin: auto !important;
    padding: 20px !important;
    overflow: auto !important;
    background: linear-gradient(rgba(255, 255, 255, 0.789), rgba(255, 255, 255, 0.789)), url(/imgs/logos/Ags.png) !important;
    background-size: auto !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}

/*
================================================================
FILTRO ICONO
================================================================
*/

.search-container {
    position: relative;
    margin: 15px;
}

.search-container input {
    background-color: #F3F3F3;
    width: 80%;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

.search-container button {
    background-color: #21AFA4;
    padding: 10px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 72px;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #01A497;
}

/*
================================================================
FOOTER
================================================================
*/
.separator {
    width: 2px;
    height: 40px;
    background-color: #a1a1a1;
    margin: 0 10px;
}

.left-images {
    margin-left: 10rem;
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.footer img {
    margin: 5px;
}

.right-content {
    margin-right: 10rem;
    display: flex;
    align-items: center;
}

.images img {
    margin-right: 10px;
}

.text {

    margin-right: 10px;
}

.text p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #777777;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



.input {
    margin-bottom: 1.5rem;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.input-message {
    display: block;
    margin-top: -30px;
    padding: 1rem 0;
    color: red;
    font-style: italic;
}

/*
================================================
FORMULARIO DE INGRESO Y DE SALIDA DE EQUIPOS
================================================
*/

/*
BOTONES ABAJO DEL TITULO
*/

.acciones_buttons {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acciones_buttons button {
    height: 2.5em;
    padding: 5px !important;
}

.conainerPrincipalIngresoSalida {
    width: 80%;
    margin: 5em auto;
}

.containerInfoPersonal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

/* fORMULARIO DE LAS PERSONAS*/

.titleFormAutorizada {
    background-color: #343D7C;
    color: #fff;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.titleFormAutorizada h6 {
    margin: auto;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.input-container label {
    background-color: #e9ecef;
    padding: 8px;
    border-right: 1px solid #ccc;
    font-weight: 600;
    white-space: nowrap;
}

.input-container input {
    border: none;
    padding: 8px;
    flex: 1;
}

.input-container input:focus {
    outline: none;
}

/*FORMULARIO DE LAS FECHAS*/

.tiemposDeAccionFecha {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5em;
}

.tituloPrin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;
}

.tituloFechas {
    width: 40%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343D7C;
    color: #fff;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.tituloFechas h6 {
    margin-top: 0.5em;
}

.containerInputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em 2em;
}

.titlePrestamosTemp {
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343D7C;
    color: #fff;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.titlePrestamosTemp h6 {
    margin: 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #e9ecef;
}

.checkbox-container label {
    margin-right: 10px;
    font-weight: 600;
}

.checkbox-container input {
    margin-right: 5px;
}

.inputsInformativos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}


/*
MOTIVO DE INGRESO Y/O SALIDA
*/


.motivoIngresoSalida {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5em;
}


.tituloPrinMotivo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;
}

.tituloMotivo {
    width: 40%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343D7C;
    color: #fff;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.tituloMotivo h6 {
    margin-top: 0.5em;
}

.checkbox-containerMotivo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #e9ecef;
}

.checkMotivo {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.checkMotivo label {
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

.checkMotivo input {
    margin-right: 5px;
    width: 20px;
    cursor: pointer;
}


/*
ESTILOS PARA LA TABLA DEL EQUIPO
*/


#btnTraerElementosfiltrados i {
    transition: all 0.4s ease-in;
    transform: rotate(0deg);
}

/* Estilo del ícono cuando se hace hover */
#btnTraerElementosfiltrados:hover i {

    transform: rotate(180deg);
}

.modal-header,
.modal-footer {
    background-color: #343D7C;
    color: #fff;
}

.modal-header .close {
    padding: calc(var(--bs-modal-header-padding-y)* .5) calc(var(--bs-modal-header-padding-x)* .5);
    margin: calc(-.5* var(--bs-modal-header-padding-y)) calc(-.5* var(--bs-modal-header-padding-x)) calc(-.5* var(--bs-modal-header-padding-y)) auto;
}

.btnBajarDatosElm {
    transition: all 1s ease-in;
}

.btnBajarDatosElm:hover i {
    animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2px);
    }
}

.rellenoIcon {
    background-color: #fff;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    color: #3f3e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.close {
    color: #fff !important;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    background: transparent center / 1em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: 0.5;
    transition: all 0.2s ease-in;
}

.close:hover {
    opacity: 1;
}

.close i {
    font-size: 20px !important;
}

.tituloPrinDescripcion {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;
}

.tituloTamDescrip {
    display: flex;
    justify-content: center;
    width: 100em;
}

.tituloDescripcion {
    width: 40%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343D7C;
    color: #fff;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    left: 1em;
    position: relative;
}

@media (max-width: 1546px){
    .tituloDescripcion {
        width: 50%;
    }
}

@media (max-width: 1480px){
    .tituloMotivo {
        width: 50%;
    }
}

@media (max-width: 1243px){
    .tituloDescripcion {
        width: 60%;
    }
}

@media (max-width: 1194px){
    .tituloMotivo {
        width: 70%;
    }
}

@media (max-width: 1052px){
    .tituloDescripcion {
        width: 80%;
    }
}
@media (max-width: 867px){
    .tituloMotivo {
        width: 90%;
    }
}

.tituloDescripcion h6 {
    margin-top: 0.5em;
}

.containerBtnAdd {
    /* width: 50%; */
    position: relative;
    /* margin-left: 20em; */
}

.tableContainerPrin table {
    width: 100%;
    border-collapse: collapse;
}

.tableContainerPrin th, td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

.tableContainerPrin th {
    background-color: #f2f2f2;
}

.tableContainerPrin td {
    background-color: #f2f2f2 !important;
}



.tableContainerPrin th:nth-child(1), .tableContainerPrin td:nth-child(1) {
    width: 30%;
}

.tableContainerPrin th:nth-child(2), .tableContainerPrin td:nth-child(2) {
    width: 15%;
}

.tableContainerPrin th:nth-child(3), .tableContainerPrin td:nth-child(3) {
    width: 15%;
}

.tableContainerPrin th:nth-child(4), .tableContainerPrin td:nth-child(4) {
    width: 15%;
}

.tableContainerPrin th:nth-child(5), .tableContainerPrin td:nth-child(5) {
    width: 15%;
}

/* Prevent columns from growing beyond the defined width */
.tableContainerPrin th, .tableContainerPrin td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
ESTILOS PARA LA TABLA DE LOS ELEMENTOS FILTRADOS
*/
.tableContainerElements th, .tableContainerElements td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgb(97, 97, 97) !important;
}

.tableContainerElements th:nth-child(1), .tableContainerElements td:nth-child(1) {
    width: 30%;
}

.tableContainerElements th:nth-child(2), .tableContainerElements td:nth-child(2) {
    width: 15%;
}

.tableContainerElements th:nth-child(3), .tableContainerElements td:nth-child(3) {
    width: 15%;
}


/*
====================================================
ESTILOS PARA LOS CHECKSBOX
====================================================
*/

/* Ocultar el checkbox original */
.custom-checkbox input[type="radio"] {
    display: none;
}

/* Estilo del contenedor del checkbox */
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Estilo del checkmark */
.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #35a7dc;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/* Pseudo-elemento para el fondo del checkmark */
.custom-checkbox .checkmark::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35a7dc;
    transform: scale(0) rotate(0deg);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
}

/* Pseudo-elemento para el check (chulito) */
.custom-checkbox .checkmark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(300deg) scale(0) scaleX(-1);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

/* Estilo cuando el checkbox está marcado */
.custom-checkbox input[type="radio"]:checked + .checkmark::before {
    transform: scale(1) rotate(360deg);
}

.custom-checkbox input[type="radio"]:checked + .checkmark::after {
    transform: translate(-50%, -50%) rotate(300deg) scale(1) scaleX(-1);
}
