.container {
    display: flex;
    width: 80rem;
    min-height: 40rem;
    max-height: 500rem;
    margin: 1rem auto;
    background-color: #ffffff00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.main-container {
    width: 100%;
    min-height: 40rem;
    max-height: 100rem;
    border: solid 2px #21AFA4;
    overflow: auto;
}

/* Menú lateral */
.menu-container {
    width: 200px;
    background-color: #3B4480;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-item {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%; /* Ocupar todo el ancho disponible */
    box-sizing: border-box;
}

/* Cambios al pasar el mouse */
.menu-item:hover {
    background-color: #21AFA4;
}

.menu-item.active {
    background-color: #21AFA4;
}

/* Formulario y contenido dinámico */
.containers {
    width: 100%;
    margin: -10px auto;
}

/* Títulos */
.titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.titulo h1 {
    color: #333;
}

/* Línea separadora */
hr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Formulario */
.alo {
    width: 60rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-row {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem; /* Espacio entre las filas */
}

.form-group {
    flex: 1;
    margin-right: 1rem; /* Espacio entre los elementos en una fila */
    margin-bottom: 1rem; /* Espacio entre las filas */
}

label {
    display: inline-block;
    margin-bottom: 0.5rem; /* Espacio entre la etiqueta y el elemento */
}

.form-group select, input[type="text"], input[type="date"], input[type="number"] {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0.5rem; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el relleno en el ancho y alto total */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Botón para generar el informe */
.button {
    background-color: #21AFA4;
    color: #fff;
    cursor: pointer;
    width: auto; /* Ajusta el ancho según el contenido */
    margin: 10px 50px; /* Ajusta el margen superior para separarlo de los otros elementos */
}

a {
    cursor: pointer;
}


.hidden {
    display: none;
}


table {
    border-collapse: collapse !important;
    width: 100%;

}

th {
    background-color: #3B4480 !important;
    color: #FFF !important;
    text-align: center !important;
    padding: 0.2rem !important;
    position: relative !important;
    border: solid 1px #FFF !important;
    font-size: 12px !important;
}

th::after {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: -1px !important;
    width: 1px !important;
    background-color: #FFF !important;
}

/* Estilos para filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f26e !important; /* Color gris claro */
}

table td {
    border: solid 1px #333 !important;
    text-align: center !important;
    border: solid 1px rgba(255, 255, 255, 0) !important;
    padding: 10px !important;
    word-wrap: break-word !important; /* Agregar esta línea */
}

table tr:last-child td {
    border-bottom: none !important;
}

.tableElementos {
    width: 100% !important;
    margin: auto !important;
    padding: 20px !important;
    overflow: auto !important;
    background: linear-gradient(rgba(255, 255, 255, 0.789), rgba(255, 255, 255, 0.789)), url(/imgs/logos/Ags.png) !important;
    background-size: auto !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}
.tablePrestamos {
    width: 100% !important;
    margin: auto !important;
    padding: 20px !important;
    overflow: auto !important;
    background: linear-gradient(rgba(255, 255, 255, 0.789), rgba(255, 255, 255, 0.789)), url(/imgs/logos/Ags.png) !important;
    background-size: auto !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

}


form .select2{
    padding: 3px !important;
    margin-bottom: 12px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

form .select2-container--default .select2-selection--single {
    border: none !important;
    border: none !important;
    border-radius: 0% !important;
  }

form .select2-selection__rendered {
    font-size: 13px;
}

/*

================================================================
BOTON DE EXPORTAR PARA ELEMENTOS
================================================================
*/

.Options-Exports-Elementos .export-button {
    margin:auto;
    background-color: #21AFA4;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.Options-Exports-Elementos {
    margin: 2rem auto;
    width: 8rem;
    position: relative;
}

.Options-Exports-Elementos .document-options {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Aparecerá justo al lado derecho del botón */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}
.Options-Exports-Elementos .button-with-icon {
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.Options-Exports-Elementos .button-with-icon i {
    font-size: 25px;
    margin-right: 5px; /* Ajusta el espacio entre el icono y el texto del botón */
}


/*

================================================================
BOTON DE EXPORTAR PARA PROCEDIMIENTOS
================================================================
*/

.Options-Exports-Procedimientos .export-button {
    margin:auto;
    background-color: #21AFA4;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.Options-Exports-Procedimientos {
    margin: 2rem auto;
    width: 8rem;
    position: relative;
}

.Options-Exports-Procedimientos .document-options {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Aparecerá justo al lado derecho del botón */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}
.Options-Exports-Procedimientos .button-proce {
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.Options-Exports-Procedimientos .button-proce i {
    font-size: 25px;
    margin-right: 5px; /* Ajusta el espacio entre el icono y el texto del botón */
}


  /*
================================================================
FOOTER
================================================================
*/

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    color: #fff;
}



.separator {
    width: 2px;
    height: 40px;
    background-color: #a1a1a1;
    margin: 0 10px;
}

.left-images {
    margin-left: 10rem;
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.footer img {
    margin: 5px;
}

.right-content {
    margin-right: 10rem;
    display: flex;
    align-items: center;
}

.images img {
    margin-right: 10px;
}



.text {

    margin-right: 10px;
}

.text p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #777777;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}




@media (max-width: 1200px) {
    .container {
        width: 70rem;
    }

    .menu-container {
        width: 150px;
    }
}
@media (max-width: 1100px) {
    .container {
        width: 60rem;
    }

    .menu-container {
        width: 120px;
    }
}
@media (max-width: 760px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*
=========================================================
DATATABLE
=========================================================
*/

.dataTables_filter {
    --timing: 0.3s !important;
    --width-of-input: 200px !important;
    --height-of-input: 40px !important;
    --border-height: 2px !important;
    --input-bg: #f1f1f1 !important;
    --border-color: #29a4a2 !important;
    --border-radius: 30px !important;
    --after-border-radius: 1px !important;
    position: relative !important;
    width: var(--width-of-input) !important;
    height: var(--height-of-input) !important;
    display: flex !important;
    align-items: center !important;
    padding-inline: 0.8em !important;
    border-radius: var(--border-radius) !important;
    transition: border-radius 0.5s ease !important;
    background: var(--input-bg,#fff) !important;
}

 .dataTables_filter input[type="text"] {
    font-size: 0.9rem !important;
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
    padding-inline: 0.5em !important;
    padding-block: 0.7em !important;
    border: none !important;
}

 .dataTables_filter input[type="text"]::placeholder {
    color: #000000;
    font-size: 13px;
}
 .dataTables_filter button {
    border: none;
    background: none;
    color: #8b8ba7;
}

 .dataTables_filter input[type="text"]:focus {
    outline: none !important;
}

 .dataTables_filter:before {
    content: "" !important;
    position: absolute !important;
    background: var(--border-color) !important;
    transform: scaleX(0) !important;
    transform-origin: center !important;
    width: 100% !important;
    height: var(--border-height) !important;
    left: 0 !important;
    bottom: 0 !important;
    border-radius: 1px !important;
    transition: transform var(--timing) ease !important;
}

 .dataTables_filter:focus-within {
    border-radius: var(--after-border-radius) !important;
}

 .dataTables_filter:focus-within:before {
    transform: scale(1) !important;
}

 .dataTables_filter button.reset {
    border: none !important;
    background: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

 .dataTables_filter input[type="text"]:not(:placeholder-shown) ~ .reset {
    opacity: 1 !important;
    visibility: visible !important;
}

 .dataTables_filter input[type="text"]::-ms-clear,
 .dataTables_filter input[type="text"]::-webkit-search-cancel-button {
    display: none !important;
}
 .dataTables_filter svg {
    width: 17px !important;
    margin-top: 3px !important;
}


.search-container {
    position: relative;
    margin: 15px;
    display: flex;
}

.search-container input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.616);
    background-color: #F3F3F3;
    width: 80%;
    padding: 10px ;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

.search-container button {
    width: 10%;
    background-color: #21AFA4;
    /* padding: 10px; */
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 13.8em;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #01A497;
}
