

.content {
    text-align: center;

}

.page-title {
    font-size: 28px;
    color: #343D7C;
    margin-top: 20px;
}

.green-line {
    width: 200px;
    height: 4px;
    background-color: #01A497;
    margin: -15px auto;
    border-radius: 5px;
}