.content {
    text-align: center;

}

.page-title {
    font-size: 28px;
    color: #343D7C;
    margin-top: 2rem;
}

.green-line {
    width: 17rem;
    height: 4px;
    background-color: #01A497;
    margin: -15px auto;
    border-radius: 1rem;
}


/*
================================================================
MENU
================================================================

*/

.menu-container {
    text-align: center;
    background-color: #F3F3F3;
    width: 36rem;
    height: 2.5rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.078);

}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0.6rem 3.5rem;
}

.menu a {
    text-decoration: none;
    color: #858796;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.menu a:hover {
    color: #21AFA4;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21AFA4;
    height: 2px;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.menu a:hover::after {
    transform: scaleX(1);
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 2rem auto;
}

.button-container a {
    text-decoration: none;
}

.button-izquierda {
    color: #343D7C;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.4rem;
}
.button-izquierda i {
    font-size: 1.2rem;
}

/* .button-derecha {
    position: relative;
    color: #28A745;
    border: solid 0.1rem #28A745;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 0.5rem;
    z-index: 1;
    transition: color .5s;
} */

.button-derecha {
    --color: #28A745;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);

    padding: 2px 5px;
   }

.button-derecha:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #28A745;
    height: 7rem;
    width: 30rem;
    border-radius: 50%;
}

.button-derecha:hover {
    color: #fff;
}

.button-derecha:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.button-derecha:hover:before {
    top: -30px;
    left: -30px;
}

.button-derecha:active:before {
    background: #3a0ca3;
    transition:  0s;
}


/*
================================================================
Table
================================================================

*/

.table-container {
    width: 70rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #fff;
    padding: 20px;
    overflow: auto;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.049);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #3B4480;
    color: #FFF;
    text-align: left;
    padding: 0.2rem;
    position: relative;
    border: solid 1px #FFF;
    font-size: 12px;
}

th::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    width: 1px;
    background-color: #FFF;
}

td {
    padding: 8px;
    white-space: nowrap;
    background-color: #F2F2F2;
    color: #565E91;
}
table td {
    border-bottom: 1px solid #c9c9c9;
    padding: 5px;
}

table tr:last-child td {
    border-bottom: none;
}

.table {
    width: 64rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    overflow: auto;
}

table td a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

table td form button {
    padding: 5px 10px;
    background-color: #DC3545;
    color: #fff;
    border: none;
    border-radius: 4px;
}
/*
================================================================
FILTRO ICONO
================================================================
*/

.search-container {
    position: relative;
    margin: 15px;
}

.search-container input {
    background-color: #F3F3F3;
    width: 80%;
    padding: 10px ;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

.search-container button {
    background-color: #21AFA4;
    padding: 10px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 72px;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #01A497;
}



/*
=================================================================
VISTA CREATE
=================================================================
*/

/*
=================================================================
MENU
=================================================================
*/
.menu-containers {
    text-align: center;
    background-color: #F3F3F3;
    width: 45rem;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.078);

}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.078);
    margin: 2rem auto;
    width: 40rem;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="time"],
.form select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form button[type="submit"] {
    background-color: #28A745;
}

.form-part {
    display: none;
}

.form-part.active {
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    margin-bottom: 2rem;
    background-color: #ddd;
    height: 10px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}


.progress {
    background-color: #007bff;
    height: 100%;
    transition: width 0.3s ease;
}

.markers {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 4px;
}

.marker {
    width: 20px;
    height: 20px;
    border: 2px solid #adadad;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    transform: translateX(-50%);
    transition: left 0.3s ease, background-color 0.3s ease;
    left: 0;
}

.marker.filled {
    background-color: #007bff;
    border: 2px solid #007bff;
    color: white;
}
